<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Letter</title>
    <style>
        body{
            padding: 0 40px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .setTitle{
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }
        .setFont{
            font-size: 20px;
        }
        .setFormet{
            font-size: 20px;
            text-transform: capitalize;
        }
        .main{
            display: flex;
            justify-content: space-between;
        }
        .Address{
            line-height: 25px;
            font-size: 15px;
        }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 10px;
        text-align: left;
        }
    </style>
</head>

<body>
    <div class="main">
        <section>
            LOGO
        </section>
        <section class="Address">
            ZUQRUF DEVELOPERS,<br/>
            P.O.BOX 100339-00100,<br/>
             NAIROBI, KENYA
        </section>
    </div>
    <hr/>
    <h3 class="setTitle">Offer Latter</h3>
    <h3 class="Title">Date : 06/05/2024</h3>
    <h3 class="Title">Dear Adow Kuno</h3>
    <p class="setFormet">RE: SALE OF ZUQRUF HEIGHTS 4 BEDROOM APARTMENT NUMBER A11 ON 11th FLOOR
      IN SOUTH C APARTMENT ON L.R. NO. 209/829/17. BY ZUQRUF DEVELOPERS LIMITED.</p>
    <hr />
    <p class="setFont">We are pleased to make you an offer of the above Apartment subject to the following terms and
      conditions:</p>

    <table>
      <tr>
        <th>Vendor:</th>
        <td>ZUQRUF DEVELOPERS <br> P.O. Box 100339-00100 <br> NAIROBI, KENYA</td>
      </tr>
      <tr>
        <th>Purchaser:</th>
        <td>ADOW KUNO <br> I.D NO: 261788</td>
      </tr>
      <tr>
        <th>Property:</th>
        <td>ZUQRUF HEIGHT SOUTH C APARTMENT</td>
      </tr>
      <tr>
        <th>Currency:</th>
        <td>KSH</td>
      </tr>
      <tr>
        <th>Sale Price:</th>
        <td>Fourteen Million thousand. <br> (Ksh 14,000,000.00)</td>
      </tr>
      <tr>
        <th>Usage:</th>
        <td>The Purchaser shall use the Premises for residential use only and shall not use or permit the Premises to be
          used for any other purpose whatsoever.</td>
      </tr>
      <tr>
        <th>Mode of Payment:</th>
        <td>The payment of the purchase price will be staged as follows: <br> (a) The purchaser shall pay Three Million as
          the initial deposit for the one-unit and to be paid on or before the execution of this letter of offer.</td>
      </tr>
    </table>

</body>

</html>